.word-fill-pane {
    -fx-background-radius: 1cm;
    -fx-background-color:  #FFFEFE;
}

.search-result {
    -fx-background-color:  #FFFEFE;
    -fx-background-radius: 0.5cm;
}

.main-background {
    -fx-background-color:  #112E69;
}

.base-layout {
    -fx-background-color:  #FDFFD0;
}


.test-but {
    -fx-padding: 2 5 5 5;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 1cm;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #004080 0%, #00274d 100%),
                                 #003366,
                                 #005599,
                                 radial-gradient(center 50% 50%, radius 100%, #005599, #004080);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-transition: all 0.3s;
}

.test-but:hover {
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #0a3d62 0%, #062338 100%),
                          #0c4f78,
                          #0e5d8b,
                          radial-gradient(center 50% 50%, radius 100%, #0e5d8b, #0a3d62);
    -fx-scale-x: 1.05; /* Phóng to theo trục X */
    -fx-scale-y: 1.05; /* Phóng to theo trục Y */
}

.test-but:pressed {
    -fx-padding: 5 10 8 10;
    -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
}

.tilte-label{

}

.content-label{

}

.text-fill1 {
    -fx-border-color:  #FFFEFE;
    -fx-background-color:  -fx-control-inner-background;
}

.text-fill2 {
    -fx-border-color:  #FFFEFE;
}

.api-bar {
    -fx-background-color:  #5A48D9;
    -fx-background-radius:  30px;
}

.api-combobox {
    -fx-background-color:  #5A48D9;
    -fx-background-radius:  30px;
    -fx-text-fill:  #FFFFFF;
}